* {border: 1px solid red}
** {border: 1px solid red}

main {
  display: grid;
  grid-template-rows: 10fr 4fr 2fr;
  height: 700px;
}

.top-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  vertical-align: middle;
  background: url(/Backgrounds-and-Gradients/images/background1.jpg) 35% 90%;
}

.top-section h1 {
  height: 15%;
  color: #fff;
}

.nav-input-wrap {
  display: inline-block;
  text-align: center;
}

.nav-bar {
  display: flex;
  width: 90%;
  border-radius: 15px;
}

.nav-bar button {
  width: 12%;
  height: 50px;
  border: 1px solid silver;
  background: transparent;
}

.nav-bar-image {
  background: center url(/Backgrounds-and-Gradients/images/apple-logo.png) no-repeat;
}

input[type="search"] {
  width: 80%;
  margin-top: 10px;
  background-color: transparent;
  background: url(/Backgrounds-and-Gradients/images/);
}
